/* nav styles */

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  margin-right: -120px;
  background-color: #4d4747;
}

.nav-links {
  width: 40%;
  top: 5rem;
  left: 48px;
  background-color: #4d4747;
  display: none;
  margin-right: 20px;
  padding: 2px;
  border-radius: 5px;
}

.nav-links a {
  background-color: #4d4747;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
  border: solid 2px rgb(27, 25, 25);
  box-shadow: 0 0 5px rgba(10, 10, 10, 0.7);
  color: white;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
  transition: all 0.5s ease;
}

.expanded {
  display: unset;
}

.btn{
  background-color: blueviolet;
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  color: #fff;
  box-shadow: 0 0 5px rgba(10, 10, 10, 0.7);
  cursor: pointer;
}
.btn:hover{
  background-color: #ff9776;
  transform: scale(1.1);
  font-weight: bold;
  transition: all 0.5s ease;
}

@media screen and (min-width: 655px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
  
}