---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Mi Blog, de todo un poco.";
---

<BaseLayout pageTitle={pageTitle}>
    <div><p class="parrafo1">Publicaciones.</p></div>
    <div>
      
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
      
    </div>
       
</BaseLayout>

<style>
  div{
    display: flex;
    flex-wrap: wrap;
  }
  .parrafo1{
    background-color: #4d4747;
    padding: 10px;
    border-radius: 15px;
    border: solid 2px #ff9776;
    box-shadow: 0 0 5px rgba(10, 10, 10, 0.7);
    color: white;
    font-size: 25px;
    text-align: center;
  }
  
</style>
   


   