---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 2rem;
    color: white;
    background-color: #4d4747;
    text-decoration: none;
    border-radius: 12px;
  }
  a:hover{
    transform: scale(1.1);
    color: white;
    background-color: #ff9776;
    transition: all 0.5s ease;
  }
</style>